{% extends 'volt_dashboard/layouts/base.html' %}

{% block title %}Edit Data Pembelian{% endblock %}

{% block content %}
<div class="container py-4">
  <h2 class="mb-4">Edit Data Pembelian Minyak Jelantah</h2>

  <form method="POST" action="{{ url_for('main.edit', id=purchase.id) }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
    {{ form.client_id.label(class="form-label") }}
    {{ form.client_id(class="form-select") }}
</div>

    <div class="mb-3">
        {{ form.tanggal_pembelian.label(class="form-label") }}
        {{ form.tanggal_pembelian(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.jumlah.label(class="form-label") }}
        {{ form.jumlah(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.harga_per_liter.label(class="form-label") }}
        {{ form.harga_per_liter(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{{ url_for('main.index') }}" class="btn btn-secondary ms-2">Batal</a>
  </form>
</div>
{% endblock %}
